@font-face {font-family: NexaLight;src: url(../fonts/NexaLight.otf);}
@font-face {font-family: NexaBold;src: url(../fonts/NexaBold.otf);}
@font-face {font-family: FeltTipWoman;src: url(../fonts/FeltTipWoman.ttf);}
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body{
	margin: 0;
	padding: 0;
	color: #f1f1f1;
}

h1{
	font-family: NexaBold;
	font-size: 50px;
	color: #f1f1f1;
	font-weight: normal;
}

h2{
	font-size: 40px;
	font-family: NexaLight;
	letter-spacing: 6px;
	font-weight: normal;
}
.sign{
	font-family: FeltTipWoman;
	font-size: 36px;
}

h1 span{
	font-family: NexaLight;
	font-size: 50px;
	font-weight: normal;
}

header{
	width: 100%;
	height: 100vh;
	background:url(../img/Background.png) no-repeat center;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	background-size: cover;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: flex-end;
}

.centered{
	display: -webkit-flex;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .logo{
    width: 40vh;
    max-width: 100%;
   margin-bottom: 3vh;
}

header p{
	font-family: NexaBold;
	font-size: 18px;
	margin-top: 0%;
	text-transform: uppercase;
	font-size: 20px;
}

.main-menu{
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
	position: fixed;
	top:0;
}
.main-menu:after{
	content: "";
	width: 60vw;
	height: 1px;
	background-color: #f1f1f1;
	position: absolute;
	bottom: 0;
}
.main-menu li{
	text-decoration: none;
	list-style: none;
	display: inline-block;
	transition: all 1s ease;
}
.main-menu li:not(:last-child){
	margin-right: 40px;
}
.main-menu a{
	font-family: NexaLight;
	color: #f1f1f1;
	text-transform: uppercase;
	text-decoration: none;
}

 a{transition:0.8s all;}
 a:hover{
	transform:scale(1.1);
	color:#fff;
}

.arrow{
	margin-bottom: 4%;
}
.arrow, .scroll a img{
	transform: rotate(-90deg);
	width: 25px;
}

/*NEXT SECTION*/

.about{	
	max-width: 100%;
	color: #000000;
	font-size: 22px;
	font-family: 'Open Sans', sans-serif;
	line-height: 31px;
	letter-spacing: 2px;
	height: 100vh;
}
.scroll a{
	text-decoration: none;
	color: #bebebe;
	font-family: NexaBold;
	text-transform: uppercase;
	font-size: 14px;
}
.portfolio .scroll{
	margin-top:6%;
}
.gray{border-color: #bebebe;}
.gray a{color: #bebebe;}

.box{
	padding: 4% ;
	padding-bottom: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.box img{width: 47%;}

.James{width: 49%;}

/*PORTFOLIO SECTION*/

.portfolio{
	background:url(../img/back.png) no-repeat center;
	width: 100%;
	height: 100vh;
	background-size: cover;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	text-align: center;
	color: #bebebe;
	padding-top: 3%;
}

.portfolio p{
	text-transform: uppercase;
	font-family: NexaBold;
	margin-top: 2%;
}
.portfolio h2{color: #fff; }

.max img:not(.arrow){
	width: 15%;
	margin: 1%;
	transition:1.2s all;
}

.max img:hover{
	transform:scale(1.1);
}

.mini{
	display: none;
}
.mini img{
	margin: 1%;
}
address {
	text-align: center;
	color: #000;
	font-style: normal;
	padding: 6%; 
	-webkit-font-smoothing: antialiased;
	line-height: 28px;
}
address a{
	color: black;
	text-decoration: none;
	font-family: NexaLight;
	font-size: 38px;
}
address p{
	font-family: NexaBold;
	font-size: 28px;
}

address a img{
	margin: 1%;
	width: 35px;
}

footer{
	text-align: center;
	font-family: NexaLight;
	font-size: 18px;
	color: #bebebe;
	padding: 1%;
}
@media (max-width: 700px){
	nav, .menu,.gray{display: none;}
	h1{font-size: 24px;}
	h1 span{font-size: 24px;margin-top: 35px;}
	p{font-size: 14px;}
	header p{font-size: 12px;margin-top: 1%;}
	h2{font-size: 35px;}
	header{height: 100vh;}
	.portfolio{height: 100%;}
	header figure img{width:250px }
	/*James SECTION*/
	.about{text-align: center;height: 100%;}
	.box img{width: 100%;}
	.box {padding: 0;}
	.box p{margin: 0 10%;line-height:2.5;
		letter-spacing: 1px;text-align:justify;}
	.James{width: 100%;}
	.scroll a:first-child{display: none;}
	.scroll{line-height:0;padding-bottom: 4%;}
	.scroll a {border:  2px solid rgba(0,0,0,0.1);
		border-radius: 40px;padding: 3%;
		box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2)}
	.about {font-size: 16px;}
	/*PORTFOLIO SECTION*/
	.max{display: none}
	.mini{display: block;}
	.p{font-size: 13px;}
	
	/*CONTACTS*/
	address, address p:nth-child(2n){font-size: 20px;}
	address a img{margin-top:20px;}
	address{line-height: 0.9;padding: 20%;}
}






















